# 主页
jhying.org {
	encode zstd gzip

	# 服务器端访问日志 (黑匣子, 自动轮转保留30天)
	log {
		output file /var/log/caddy/jhying.org-access.log {
			roll_size 50mb
			roll_keep 5
			roll_keep_for 720h
		}
		format json
	}

	root * /srv/site
	file_server
}

# Matomo 统计后台
analytics.jhying.org {
	reverse_proxy matomo:80
}
